/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Roboto Mono', sans-serif;*/

body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Noto Serif', serif;
}

h1, h2 {
    color: #40E0D0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}

p {
    font-family: 'Noto Serif', serif;
}

hr {
    background-color: #40E0D0;
    width: 10rem;
}

/* Navbar */

.navbar {
    background-color: #111111;

}

.navbar-dark .navbar-brand {
    color: #40E0D0;
    font-family: 'Noto Serif', serif;
    font-weight: bold;

}

.navbar-brand {
    height: 60px;

}

.nav-item {
    text-align: right;
}

/* Big grab */

.hero-image {
    background-image: url("../images/Digital WorldSM.jpg");
    background-color: #000;
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}

.hero-text {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    position: absolute;
    text-align: center;
    top: 35%;
    left: 10%;
    right: 10%;
    padding-right: 3%;
}

.cursor {
    display: inline-block;
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* About Me */

#about-me {
}

.text {
    margin: 3%;
}

.photo-column {
    text-align: center;
}

.self-photo {
    border-radius: 30%;
    padding: 5%;
    margin: 10px;
    max-height: 80%;
}

/* Skills */

#skills {
    padding: 5% 7%;
    background-color: #393e46;
    text-align: center;
    height: 500px;
}

.skill-icon {
    max-width: 70px;
    max-height: 70px;
}

.round {
    border-radius: 50%;
}

.media {
    margin-bottom: 5px;
    color: #4ECCA3;
}

/* Skills - Text and Star Lipstick */


/* Portfolio */

#works {
    padding: 3% 7%;
}

.portfolio-image {
    width: 32%;
    float: left;
}

.portfolio-text {
    text-align: left;
    float: left;
    width: 65%;
    padding: 0 5%;
}

.work-picture {

}

/* Portfolio 2.0 */
/* Sizing / Responsiveness */
.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.slider-nav .slick-slide { cursor: pointer; }

.slider-nav div::before {
	content: "";
	display: block;
	/*padding-top: 75%;*/
}

.slider {
    width: 100%;
    margin: 30px auto;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slider-thumbnail {
    height: 100%;
    width: 100%;
}

.portfolio-header {
    padding: 3% 7% 0 7%;
}

/* Portfolio 'Lipstick' */

#works {
    background-color: #000000;
}

.slider-nav {
    /*background-color: #393E46;*/
}

.slick-arrow {
    background-color: #00adb5;
    border-radius: 50%;
}

.slick-arrow:hover {
    background-color: #00adb5;
    border-radius: 50%;
}


/* Call to Action */

.cta {
    padding: 5% 7%;
    text-align: center;
    background-color: #393e46;
    color: #40E0D0;
}

.form-control {
    background-color: #222;
    border-color: #40E0D0;
    color: #888;
}

.form-control:focus {
    background-color: #8f8f8f;
    color: #111111;
}

.bottom-text {
    padding-bottom: 7%;
}

.link-button {
    margin: 0 15px;
}

.contact-list {
    list-style: none;
    padding: 0 50px;
    margin-right: 25px;

}

.contact-buttons {
    margin: 10px 0;
    padding: 0;
}


/* Footer */

.footer {
    background-color: #111111;
    color: #5d5d5d;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.btn-outline-light {
    color: #40E0D0;
    border-color: #40E0D0;
}

.btn-outline-light:hover {
    color: #000;
    border-color: #40E0D0;
    background-color: #40E0D0;
}


@media screen and (min-width: 400px) {
    #skillsCarousel {
        height: 350px;
    }

}


@media screen and (min-width: 600px) {
    #skillsCarousel {
        height: 350px;
    }

    #skills {
        height: 550px;
    }
}


@media screen and (min-width: 800px) {
    #skillsCarousel {
        height: 350px;
    }

}

/* Change to single stack */

@media screen and (max-width: 992px) {

    body {
        font-size: 20px;
    }

    h1 h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 34px;
    }

    h4 h5 {
        font-size: 34px !important;
    }

    .bottom-text {
        margin-top: 45px;
    }

    .portfolio-text {
        margin-top: 15px;
    }

    .portfolio-title {
        text-align: left;
    }

    .portfolio-hr {
        margin: 0 2px;
    }

    .work-text {
        margin-top: 45px;
    }

    #skills {
        height: 600px;
    }

    .portfolio-image {
        float: none;
        width: 80%;
        justify-content: center;
    }

    .portfolio-text {
        float: none;
        width: 80%;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    #skills {
        height: 1000px;
    }

    .skill-icon {
        max-height: 40px;
        max-width: 40px;
    }
}