/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Roboto Mono', sans-serif;*/

body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Noto Serif', serif;
}

h1, h2 {
    color: #40E0D0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}

p {
    font-family: 'Noto Serif', serif;
}

hr {
    background-color: #40E0D0;
    width: 10rem;
}

/* Navbar */

.navbar {
    background-color: #111111;

}

.navbar-dark .navbar-brand {
    color: #40E0D0;
    font-family: 'Noto Serif', serif;
    font-weight: bold;

}

.navbar-brand {
    height: 60px;

}

.nav-item {
    text-align: right;
}

/* Big grab */

.hero-image {
    background-image: url("../images/Digital WorldSM.jpg");
    background-color: #000;
    height: 500px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}

.hero-text {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    position: absolute;
    text-align: center;
    top: 35%;
    left: 10%;
    right: 10%;
    padding-right: 3%;
}

.cursor {
    display: inline-block;
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* About Me */

#about-me {
}

.text {
    margin: 3%;
}

.photo-column {
    text-align: center;
}

.self-photo {
    border-radius: 30%;
    padding: 5%;
    margin: 10px;
    max-height: 80%;
}

/* Skills */

#skills {
    padding: 5% 7%;
    background-color: #393e46;
    text-align: center;
    height: 500px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    font-size: large;
    color: #40E0D0;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-text {
    display: block;
    line-height: 1.5;
}

.testimonial-image {
    height: 70px;
    border-radius: 30%;
    margin: 20px;
}

/* Portfolio */

#works {
    padding: 3% 7%;
}

.portfolio-text {
    text-align: left;
}

.work-picture {

}

/* Call to Action */

.cta {
    padding: 5% 7%;
    text-align: center;
    background-color: #393e46;
    color: #40E0D0;
}

.form-control {
    background-color: #222;
    border-color: #40E0D0;
    color: #888;
}

.form-control:focus {
    background-color: #8f8f8f;
    color: #111111;
}

.bottom-text {
    padding-bottom: 7%;
}

.link-button {
    margin: 0 15px;
}

.contact-list {
    list-style: none;
    padding: 0 50px;
    margin-right: 25px;

}

.contact-buttons {
    margin: 10px 0;
    padding: 0;
}


/* Footer */

.footer {
    background-color: #111111;
    color: #5d5d5d;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.btn-outline-light {
    color: #40E0D0;
    border-color: #40E0D0;
}

.btn-outline-light:hover {
    color: #000;
    border-color: #40E0D0;
    background-color: #40E0D0;
}



@media screen and (min-width: 400px) {
    #skillsCarousel {
        height: 350px;
    }

    #skills {
        height: 550px;
    }
}


@media screen and (min-width: 600px) {
    #skillsCarousel {
        height: 350px;
    }

    #skills {
        height: 550px;
    }
}


@media screen and (min-width: 800px) {
    #skillsCarousel {
        height: 350px;
    }

    #skills {
        height: 550px;
    }
}

/* Change to single stack */

@media (max-width: 992px) {

    body {
        font-size: 30px;
    }

    h1 h2 {
        font-size: 36px;
    }

    h4 h5 {
        font-size: 34px;
    }

    .bottom-text {
        margin-top: 45px;
    }

    .portfolio-text {
        margin-top: 15px;
    }

    .portfolio-title {
        text-align: left;
    }

    .portfolio-hr {
        margin: 0 2px;
    }

    .work-text {
        margin-top: 45px;
    }

}



